@font-face {
  font-family: GT Alpina Condensed Bold;
  src: url("//static.showit.co/file/pgsvrli-TySKD1tL9TulMQ/212087/gt-alpina-condensed-bold.woff");
}

html.m {
  background-color: rgba(255, 255, 255, 1);
}
html.d {
  background-color: rgba(255, 255, 255, 1);
}
.d .st-d-title {
  color: rgba(0, 0, 0, 1);
  line-height: 1.2;
  letter-spacing: 0em;
  font-size: 50px;
  text-align: left;
  font-family: "GT Alpina Condensed Bold";
  font-weight: 400;
  font-style: normal;
}
.d .st-d-title.se-rc a {
  color: rgba(0, 0, 0, 1);
}
.d .st-d-title.se-rc a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
  opacity: 0.8;
}
.m .st-m-title {
  color: rgba(0, 0, 0, 1);
  line-height: 1.2;
  letter-spacing: 0em;
  font-size: 38px;
  text-align: left;
  font-family: "GT Alpina Condensed Bold";
  font-weight: 400;
  font-style: normal;
}
.m .st-m-title.se-rc a {
  color: rgba(0, 0, 0, 1);
}
.m .st-m-title.se-rc a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
  opacity: 0.8;
}
.d .st-d-heading {
  color: rgba(0, 0, 0, 1);
  line-height: 1.2;
  letter-spacing: 0em;
  font-size: 33px;
  text-align: left;
  font-family: "GT Alpina Condensed Bold";
  font-weight: 400;
  font-style: normal;
}
.d .st-d-heading.se-rc a {
  color: rgba(0, 0, 0, 1);
}
.d .st-d-heading.se-rc a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
  opacity: 0.8;
}
.m .st-m-heading {
  color: rgba(0, 0, 0, 1);
  line-height: 1.2;
  letter-spacing: 0em;
  font-size: 25px;
  text-align: left;
  font-family: "GT Alpina Condensed Bold";
  font-weight: 400;
  font-style: normal;
}
.m .st-m-heading.se-rc a {
  color: rgba(0, 0, 0, 1);
}
.m .st-m-heading.se-rc a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
  opacity: 0.8;
}
.d .st-d-subheading {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 14px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
}
.d .st-d-subheading.se-rc a {
  color: rgba(0, 0, 0, 1);
}
.d .st-d-subheading.se-rc a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
  opacity: 0.8;
}
.m .st-m-subheading {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 14px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
}
.m .st-m-subheading.se-rc a {
  color: rgba(0, 0, 0, 1);
}
.m .st-m-subheading.se-rc a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
  opacity: 0.8;
}
.d .st-d-paragraph {
  color: rgba(0, 0, 0, 1);
  line-height: 1.8;
  letter-spacing: 0em;
  font-size: 15px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
}
.d .st-d-paragraph.se-rc a {
  color: rgba(0, 0, 0, 1);
}
.d .st-d-paragraph.se-rc a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
  opacity: 0.8;
}
.m .st-m-paragraph {
  color: rgba(0, 0, 0, 1);
  line-height: 1.8;
  letter-spacing: 0em;
  font-size: 15px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
}
.m .st-m-paragraph.se-rc a {
  color: rgba(0, 0, 0, 1);
}
.m .st-m-paragraph.se-rc a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
  opacity: 0.8;
}
.sib-nav-bar {
  z-index: 8;
}
.m .sib-nav-bar {
  height: 1px;
}
.d .sib-nav-bar {
  height: 1px;
}
.m .sib-nav-bar .ss-bg {
  background-color: rgba(0, 0, 0, 1);
}
.d .sib-nav-bar .ss-bg {
  background-color: rgba(0, 0, 0, 1);
}
.d .sie-nav-bar_0 {
  left: 1120px;
  top: -3px;
  width: 80px;
  height: 65px;
}
.m .sie-nav-bar_0 {
  left: 273px;
  top: 19px;
  width: 40px;
  height: 39px;
}
.d .sie-nav-bar_0 .se-simple:hover {
}
.m .sie-nav-bar_0 .se-simple:hover {
}
.d .sie-nav-bar_0 .se-simple {
  background-color: rgba(0, 0, 0, 1);
}
.m .sie-nav-bar_0 .se-simple {
  background-color: rgba(0, 0, 0, 1);
}
.d .sie-nav-bar_1:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-nav-bar_1:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-nav-bar_1 {
  left: 1143px;
  top: 12px;
  width: 39px;
  height: 39px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-nav-bar_1 {
  left: 280px;
  top: 26px;
  width: 26px;
  height: 25px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-nav-bar_1 svg {
  fill: rgba(255, 255, 255, 1);
  transition-duration: 0.5s;
  transition-property: fill;
}
.m .sie-nav-bar_1 svg {
  fill: rgba(255, 255, 255, 1);
  transition-duration: 0.5s;
  transition-property: fill;
}
.d .sie-nav-bar_1 svg:hover {
  fill: rgba(220, 102, 38, 1);
}
.m .sie-nav-bar_1 svg:hover {
  fill: rgba(220, 102, 38, 1);
}
.d .sie-nav-bar_2 {
  left: 553px;
  top: 12px;
  width: 95px;
  height: 95px;
}
.m .sie-nav-bar_2 {
  left: 128px;
  top: 6px;
  width: 65px;
  height: 65px;
}
.d .sie-nav-bar_2 .se-img {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  border-radius: inherit;
}
.m .sie-nav-bar_2 .se-img {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  border-radius: inherit;
}
.m .sib-hero {
  height: 713px;
}
.d .sib-hero {
  height: 669px;
}
.m .sib-hero .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}
.d .sib-hero .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}
.d .sib-hero.sb-nd-wH .sc {
  height: 669px;
}
.d .sie-hero_0 {
  left: 600px;
  top: 0px;
  width: 600px;
  height: 670px;
}
.m .sie-hero_0 {
  left: 0px;
  top: 357px;
  width: 320px;
  height: 357px;
}
.d .sie-hero_0 .se-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: inherit;
}
.m .sie-hero_0 .se-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: inherit;
}
.d .sie-hero_1 {
  left: 0px;
  top: 0px;
  width: 600px;
  height: 670px;
}
.m .sie-hero_1 {
  left: 0px;
  top: 0px;
  width: 320px;
  height: 357px;
}
.d .sie-hero_1 .se-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: inherit;
}
.m .sie-hero_1 .se-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: inherit;
}
.d .sie-hero_2 {
  left: 360px;
  top: 181px;
  width: 480px;
  height: 307px;
  opacity: 1;
}
.m .sie-hero_2 {
  left: 10px;
  top: 236px;
  width: 301px;
  height: 241px;
}
.d .sie-hero_2 .se-simple:hover {
}
.m .sie-hero_2 .se-simple:hover {
}
.d .sie-hero_2 .se-simple {
  background-color: rgba(255, 255, 255, 1);
}
.m .sie-hero_2 .se-simple {
  background-color: rgba(250, 247, 245, 1);
}
.d .sie-hero_3:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-hero_3:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-hero_3 {
  left: 516px;
  top: 409px;
  width: 169px;
  height: 46px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-hero_3 {
  left: 69px;
  top: 405px;
  width: 183px;
  height: 35px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-hero_3 .se-simple:hover {
  background-color: rgba(220, 102, 38, 1);
}
.m .sie-hero_3 .se-simple:hover {
  background-color: rgba(220, 102, 38, 1);
}
.d .sie-hero_3 .se-simple {
  background-color: rgba(0, 0, 0, 1);
  transition-duration: 0.5s;
  transition-property: background-color;
}
.m .sie-hero_3 .se-simple {
  background-color: rgba(0, 0, 0, 1);
  transition-duration: 0.5s;
  transition-property: background-color;
}
.d .sie-hero_4 {
  left: 532px;
  top: 419px;
  width: 137px;
  height: 1px;
}
.m .sie-hero_4 {
  left: 93px;
  top: 411px;
  width: 136px;
  height: 18px;
}
.d .sie-hero_4-text {
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.m .sie-hero_4-text {
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.d .sie-hero_5 {
  left: 399px;
  top: 353px;
  width: 210px;
  height: 19px;
  opacity: 0.3;
}
.m .sie-hero_5 {
  left: 42px;
  top: 368px;
  width: 125px;
  height: 15px;
}
.d .sie-hero_5 .se-simple:hover {
}
.m .sie-hero_5 .se-simple:hover {
}
.d .sie-hero_5 .se-simple {
  background-color: rgba(220, 102, 38, 1);
}
.m .sie-hero_5 .se-simple {
  background-color: rgba(220, 102, 38, 0.3);
}
.d .sie-hero_6 {
  left: 589px;
  top: 310px;
  width: 115px;
  height: 19px;
  opacity: 0.3;
}
.m .sie-hero_6 {
  left: 153px;
  top: 337px;
  width: 68px;
  height: 18px;
}
.d .sie-hero_6 .se-simple:hover {
}
.m .sie-hero_6 .se-simple:hover {
}
.d .sie-hero_6 .se-simple {
  background-color: rgba(220, 102, 38, 1);
}
.m .sie-hero_6 .se-simple {
  background-color: rgba(220, 102, 38, 0.3);
}
.d .sie-hero_7 {
  left: 525px;
  top: 267px;
  width: 257px;
  height: 19px;
  opacity: 0.3;
}
.m .sie-hero_7 {
  left: 118px;
  top: 310px;
  width: 148px;
  height: 15px;
}
.d .sie-hero_7 .se-simple:hover {
}
.m .sie-hero_7 .se-simple:hover {
}
.d .sie-hero_7 .se-simple {
  background-color: rgba(220, 102, 38, 1);
}
.m .sie-hero_7 .se-simple {
  background-color: rgba(220, 102, 38, 0.3);
}
.d .sie-hero_8 {
  left: 379px;
  top: 248px;
  width: 442px;
  height: 121px;
}
.m .sie-hero_8 {
  left: 30px;
  top: 295px;
  width: 260px;
  height: 20px;
}
.d .sie-hero_8-text {
  line-height: 1;
  font-size: 43px;
  text-align: center;
}
.m .sie-hero_8-text {
  font-size: 25px;
  text-align: center;
}
.d .sie-hero_9 {
  left: 479px;
  top: 215px;
  width: 242px;
  height: 23px;
}
.m .sie-hero_9 {
  left: 26px;
  top: 267px;
  width: 269px;
  height: 18px;
}
.d .sie-hero_9-text {
  color: rgba(220, 102, 38, 1);
  text-align: center;
}
.m .sie-hero_9-text {
  color: rgba(220, 102, 38, 1);
  text-align: center;
}
.m .sib-past-clients {
  height: 199px;
}
.d .sib-past-clients {
  height: 265px;
}
.m .sib-past-clients .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}
.d .sib-past-clients .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}
.d .sie-past-clients_0 {
  left: 19px;
  top: 101px;
  width: 1150px;
  height: 133px;
}
.m .sie-past-clients_0 {
  left: -13px;
  top: 67px;
  width: 346px;
  height: 94px;
}
.d .sig-past-clients_0 .ssg-slider .flickity-page-dots {
  display: none;
}
.d .sig-past-clients_0 .ssg-slider-cell {
  margin-right: 30px;
}
.m .sig-past-clients_0 .ssg-slider .flickity-page-dots {
  display: none;
}
.m .sig-past-clients_0 .ssg-slider-cell {
  margin-right: 15px;
}
.d .sie-past-clients_1 {
  left: 293px;
  top: 53px;
  width: 615px;
  height: 24px;
}
.m .sie-past-clients_1 {
  left: 24px;
  top: 38px;
  width: 272px;
  height: 29px;
}
.d .sie-past-clients_1-text {
  text-align: center;
}
.m .sie-past-clients_1-text {
  text-align: center;
}
.m .sib-marquee {
  height: 42px;
}
.d .sib-marquee {
  height: 40px;
}
.m .sib-marquee .ss-bg {
  background-color: rgba(220, 102, 38, 1);
}
.d .sib-marquee .ss-bg {
  background-color: rgba(220, 102, 38, 1);
}
.d .sie-marquee_0 {
  left: -5px;
  top: 15px;
  width: 1205px;
  height: 34px;
}
.m .sie-marquee_0 {
  left: -8px;
  top: 13px;
  width: 336px;
  height: 29px;
}
.d .sie-marquee_0 .si-embed {
  transform-origin: left top 0;
  transform: scale(1, 1);
  width: 1205px;
  height: 34px;
}
.m .sie-marquee_0 .si-embed {
  transform-origin: left top 0;
  transform: scale(1, 1);
  width: 336px;
  height: 29px;
}
.m .sib-photo-grid {
  height: 1290px;
}
.d .sib-photo-grid {
  height: 2759px;
}
.m .sib-photo-grid .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}
.d .sib-photo-grid .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}
.d .sib-photo-grid.sb-nd-dH .sc {
  height: 2759px;
}
.d .sie-photo-grid_0 {
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 2858px;
}
.m .sie-photo-grid_0 {
  left: 10px;
  top: 6px;
  width: 301px;
  height: 1239px;
}
.d .sig-photo-grid_0 {
  width: 100%;
  padding: 7.5px;
  position: relative;
  box-sizing: border-box;
}
.d .sig-photo-grid_0 .stg-grid-sizer {
  width: 33.333%;
}
.d .sig-photo-grid_0 .stg-grid-item {
  width: 33.333%;
  padding: 7.5px;
}
.d .sig-photo-grid_0 .stg-grid-img {
}
.d .sig-photo-grid_0-stg-slider.stg-slider {
  background-color: rgba(255, 255, 255, 1);
}
.d .sig-photo-grid_0-stg-slider .stg-slider-controls {
  color: #000000;
}
.d .sig-photo-grid_0-stg-slider .stg-slider-controls svg path {
  fill: #000000;
}
.m .sig-photo-grid_0 {
  width: 100%;
  padding: 5px;
  position: relative;
  box-sizing: border-box;
}
.m .sig-photo-grid_0 .stg-grid-sizer {
  width: 50%;
}
.m .sig-photo-grid_0 .stg-grid-item {
  width: 50%;
  padding: 5px;
}
.m .sig-photo-grid_0 .stg-grid-img {
}
.m .sig-photo-grid_0-stg-slider.stg-slider {
  background-color: rgba(255, 255, 255, 1);
}
.m .sig-photo-grid_0-stg-slider .stg-slider-controls {
  color: #000000;
}
.m .sig-photo-grid_0-stg-slider .stg-slider-controls svg path {
  fill: #000000;
}
.m .sib-recent-projects {
  height: 105px;
}
.d .sib-recent-projects {
  height: 90px;
}
.m .sib-recent-projects .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}
.d .sib-recent-projects .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}
.d .sie-recent-projects_0:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-recent-projects_0:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-recent-projects_0 {
  left: 476px;
  top: 5px;
  width: 248px;
  height: 46px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-recent-projects_0 {
  left: 44px;
  top: 29px;
  width: 233px;
  height: 49px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-recent-projects_0 .se-simple:hover {
  background-color: rgba(220, 102, 38, 1);
}
.m .sie-recent-projects_0 .se-simple:hover {
  background-color: rgba(220, 102, 38, 1);
}
.d .sie-recent-projects_0 .se-simple {
  background-color: rgba(0, 0, 0, 1);
  transition-duration: 0.5s;
  transition-property: background-color;
}
.m .sie-recent-projects_0 .se-simple {
  background-color: rgba(0, 0, 0, 1);
  transition-duration: 0.5s;
  transition-property: background-color;
}
.d .sie-recent-projects_1 {
  left: 446px;
  top: 17px;
  width: 309px;
  height: 1px;
}
.m .sie-recent-projects_1 {
  left: 59px;
  top: 41px;
  width: 204px;
  height: 14px;
}
.d .sie-recent-projects_1-text {
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.m .sie-recent-projects_1-text {
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.m .sib-newsletter {
  height: 365px;
}
.d .sib-newsletter {
  height: 246px;
}
.m .sib-newsletter .ss-bg {
  background-color: rgba(220, 102, 38, 1);
}
.d .sib-newsletter .ss-bg {
  background-color: rgba(220, 102, 38, 1);
}
.d .sie-newsletter_0 {
  left: 600px;
  top: 5px;
  width: 485px;
  height: 246px;
}
.m .sie-newsletter_0 {
  left: -11px;
  top: 68px;
  width: 342px;
  height: 233px;
}
.d .sie-newsletter_0 .si-embed {
  transform-origin: left top 0;
  transform: scale(1, 1);
  width: 485px;
  height: 246px;
}
.m .sie-newsletter_0 .si-embed {
  transform-origin: left top 0;
  transform: scale(1, 1);
  width: 342px;
  height: 233px;
}
.d .sie-newsletter_1 {
  left: 295px;
  top: 88px;
  width: 196px;
  height: 72px;
}
.m .sie-newsletter_1 {
  left: 19px;
  top: 62px;
  width: 273px;
  height: 31px;
}
.d .sie-newsletter_1-text {
  color: rgba(255, 255, 255, 1);
  line-height: 1;
  font-size: 34px;
  text-align: left;
}
.m .sie-newsletter_1-text {
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.m .sib-footer {
  height: 515px;
}
.d .sib-footer {
  height: 221px;
}
.m .sib-footer .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}
.d .sib-footer .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}
.d .sie-footer_0 {
  left: -26px;
  top: 190px;
  width: 1236px;
  height: 33px;
}
.m .sie-footer_0 {
  left: -22px;
  top: 458px;
  width: 375px;
  height: 59px;
}
.d .sie-footer_0 .se-simple:hover {
}
.m .sie-footer_0 .se-simple:hover {
}
.d .sie-footer_0 .se-simple {
  background-color: rgba(0, 0, 0, 1);
}
.m .sie-footer_0 .se-simple {
  background-color: rgba(0, 0, 0, 1);
}
.d .sie-footer_1 {
  left: 81px;
  top: 194px;
  width: 1039px;
  height: 19px;
}
.m .sie-footer_1 {
  left: 13px;
  top: 469px;
  width: 295px;
  height: 36px;
}
.d .sie-footer_1-text {
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.m .sie-footer_1-text {
  color: rgba(250, 247, 245, 1);
  font-size: 10px;
  text-align: center;
}
.d .sie-footer_1-text.se-rc a {
  color: rgba(220, 102, 38, 1);
  text-decoration: none;
}
.d .sie-footer_1-text.se-rc a:hover {
  color: rgba(0, 0, 0, 1);
  opacity: 0.8;
}
.m .sie-footer_1-text.se-rc a {
  color: rgba(220, 102, 38, 1);
  text-decoration: none;
}
.m .sie-footer_1-text.se-rc a:hover {
  color: rgba(0, 0, 0, 1);
  opacity: 0.8;
}
.d .sie-footer_2:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-footer_2:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-footer_2 {
  left: 988px;
  top: 92px;
  width: 80px;
  height: 19px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-footer_2 {
  left: 103px;
  top: 408px;
  width: 114px;
  height: 14px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-footer_2-text:hover {
  color: rgba(220, 102, 38, 1);
}
.m .sie-footer_2-text:hover {
  color: rgba(220, 102, 38, 1);
}
.d .sie-footer_2-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.m .sie-footer_2-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.d .sie-footer_3:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-footer_3:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-footer_3 {
  left: 822px;
  top: 92px;
  width: 150px;
  height: 19px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-footer_3 {
  left: 68px;
  top: 374px;
  width: 183px;
  height: 14px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-footer_3-text:hover {
  color: rgba(220, 102, 38, 1);
}
.m .sie-footer_3-text:hover {
  color: rgba(220, 102, 38, 1);
}
.d .sie-footer_3-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.m .sie-footer_3-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.d .sie-footer_4:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-footer_4:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-footer_4 {
  left: 460px;
  top: 92px;
  width: 158px;
  height: 19px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-footer_4 {
  left: 58px;
  top: 306px;
  width: 204px;
  height: 14px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-footer_4-text:hover {
  color: rgba(220, 102, 38, 1);
}
.m .sie-footer_4-text:hover {
  color: rgba(220, 102, 38, 1);
}
.d .sie-footer_4-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.m .sie-footer_4-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.d .sie-footer_5:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-footer_5:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-footer_5 {
  left: 634px;
  top: 92px;
  width: 173px;
  height: 19px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-footer_5 {
  left: 52px;
  top: 340px;
  width: 216px;
  height: 14px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-footer_5-text:hover {
  color: rgba(220, 102, 38, 1);
}
.m .sie-footer_5-text:hover {
  color: rgba(220, 102, 38, 1);
}
.d .sie-footer_5-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.m .sie-footer_5-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.d .sie-footer_6:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-footer_6:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-footer_6 {
  left: 789px;
  top: 61px;
  width: 199px;
  height: 19px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-footer_6 {
  left: 52px;
  top: 272px;
  width: 216px;
  height: 14px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-footer_6-text:hover {
  color: rgba(220, 102, 38, 1);
}
.m .sie-footer_6-text:hover {
  color: rgba(220, 102, 38, 1);
}
.d .sie-footer_6-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.m .sie-footer_6-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.d .sie-footer_7:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-footer_7:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-footer_7 {
  left: 589px;
  top: 61px;
  width: 184px;
  height: 19px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-footer_7 {
  left: 60px;
  top: 238px;
  width: 199px;
  height: 14px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-footer_7-text:hover {
  color: rgba(220, 102, 38, 1);
}
.m .sie-footer_7-text:hover {
  color: rgba(220, 102, 38, 1);
}
.d .sie-footer_7-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.m .sie-footer_7-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.d .sie-footer_8:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-footer_8:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-footer_8 {
  left: 523px;
  top: 61px;
  width: 50px;
  height: 19px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-footer_8 {
  left: 103px;
  top: 204px;
  width: 114px;
  height: 14px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-footer_8-text:hover {
  color: rgba(220, 102, 38, 1);
}
.m .sie-footer_8-text:hover {
  color: rgba(220, 102, 38, 1);
}
.d .sie-footer_8-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.m .sie-footer_8-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.d .sie-footer_9:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-footer_9:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-footer_9 {
  left: 142px;
  top: 80px;
  width: 127px;
  height: 19px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-footer_9 {
  left: 94px;
  top: 140px;
  width: 177px;
  height: 26px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-footer_9-text:hover {
  color: rgba(220, 102, 38, 1);
}
.m .sie-footer_9-text:hover {
  color: rgba(220, 102, 38, 1);
}
.d .sie-footer_9-text {
  color: rgba(0, 0, 0, 1);
  transition-duration: 0.5s;
  transition-property: color;
}
.m .sie-footer_9-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.d .sie-footer_10:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-footer_10:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-footer_10 {
  left: 111px;
  top: 81px;
  width: 28px;
  height: 28px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-footer_10 {
  left: 50px;
  top: 135px;
  width: 35px;
  height: 35px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-footer_10 svg {
  fill: rgba(0, 0, 0, 1);
  transition-duration: 0.5s;
  transition-property: fill;
}
.m .sie-footer_10 svg {
  fill: rgba(0, 0, 0, 1);
  transition-duration: 0.5s;
  transition-property: fill;
}
.d .sie-footer_10 svg:hover {
  fill: rgba(220, 102, 38, 1);
}
.m .sie-footer_10 svg:hover {
  fill: rgba(220, 102, 38, 1);
}
.d .sie-footer_11 {
  left: 0px;
  top: 40px;
  width: 103px;
  height: 105px;
}
.m .sie-footer_11 {
  left: 116px;
  top: 22px;
  width: 89px;
  height: 89px;
}
.d .sie-footer_11 .se-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  border-radius: inherit;
}
.m .sie-footer_11 .se-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: inherit;
}
.sib-mobile-nav {
  z-index: 20;
}
.m .sib-mobile-nav {
  height: 454px;
  display: none;
}
.d .sib-mobile-nav {
  height: 400px;
  display: none;
}
.m .sib-mobile-nav .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}
.d .sib-mobile-nav .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}
.m .sib-mobile-nav.sb-nm-wH .sc {
  height: 454px;
}
.d .sie-mobile-nav_0 {
  left: 253px;
  top: 219px;
  width: 82px;
  height: 19px;
}
.m .sie-mobile-nav_0 {
  left: 94px;
  top: 340px;
  width: 132px;
  height: 14px;
}
.d .sie-mobile-nav_0-text {
  color: rgba(220, 102, 38, 1);
  text-align: right;
}
.m .sie-mobile-nav_0-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
}
.d .sie-mobile-nav_1:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-mobile-nav_1:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-mobile-nav_1 {
  left: 954px;
  top: 82px;
  width: 150px;
  height: 19px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-mobile-nav_1 {
  left: 69px;
  top: 306px;
  width: 183px;
  height: 14px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-mobile-nav_1-text:hover {
  color: rgba(220, 102, 38, 1);
}
.m .sie-mobile-nav_1-text:hover {
  color: rgba(220, 102, 38, 1);
}
.d .sie-mobile-nav_1-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.m .sie-mobile-nav_1-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.d .sie-mobile-nav_2:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-mobile-nav_2:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-mobile-nav_2 {
  left: 780px;
  top: 82px;
  width: 158px;
  height: 19px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-mobile-nav_2 {
  left: 58px;
  top: 271px;
  width: 204px;
  height: 14px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-mobile-nav_2-text:hover {
  color: rgba(220, 102, 38, 1);
}
.m .sie-mobile-nav_2-text:hover {
  color: rgba(220, 102, 38, 1);
}
.d .sie-mobile-nav_2-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.m .sie-mobile-nav_2-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.d .sie-mobile-nav_3:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-mobile-nav_3:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-mobile-nav_3 {
  left: 780px;
  top: 82px;
  width: 158px;
  height: 19px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-mobile-nav_3 {
  left: 58px;
  top: 237px;
  width: 204px;
  height: 14px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-mobile-nav_3-text:hover {
  color: rgba(220, 102, 38, 1);
}
.m .sie-mobile-nav_3-text:hover {
  color: rgba(220, 102, 38, 1);
}
.d .sie-mobile-nav_3-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.m .sie-mobile-nav_3-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.d .sie-mobile-nav_4:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-mobile-nav_4:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-mobile-nav_4 {
  left: 565px;
  top: 82px;
  width: 199px;
  height: 19px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-mobile-nav_4 {
  left: 52px;
  top: 202px;
  width: 216px;
  height: 14px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-mobile-nav_4-text:hover {
  color: rgba(220, 102, 38, 1);
}
.m .sie-mobile-nav_4-text:hover {
  color: rgba(220, 102, 38, 1);
}
.d .sie-mobile-nav_4-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.m .sie-mobile-nav_4-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.d .sie-mobile-nav_5:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-mobile-nav_5:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-mobile-nav_5 {
  left: 365px;
  top: 82px;
  width: 184px;
  height: 19px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-mobile-nav_5 {
  left: 61px;
  top: 168px;
  width: 199px;
  height: 14px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-mobile-nav_5-text:hover {
  color: rgba(220, 102, 38, 1);
}
.m .sie-mobile-nav_5-text:hover {
  color: rgba(220, 102, 38, 1);
}
.d .sie-mobile-nav_5-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.m .sie-mobile-nav_5-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: color;
}
.d .sie-mobile-nav_6 {
  left: 273px;
  top: 129px;
  width: 62px;
  height: 19px;
}
.m .sie-mobile-nav_6 {
  left: 94px;
  top: 133px;
  width: 132px;
  height: 14px;
}
.d .sie-mobile-nav_6-text {
  color: rgba(220, 102, 38, 1);
  text-align: right;
}
.m .sie-mobile-nav_6-text {
  color: rgba(0, 0, 0, 1);
  text-align: center;
}
.d .sie-mobile-nav_7:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-mobile-nav_7:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-mobile-nav_7 {
  left: 1143px;
  top: 12px;
  width: 39px;
  height: 39px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-mobile-nav_7 {
  left: 280px;
  top: 26px;
  width: 26px;
  height: 25px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-mobile-nav_7 svg {
  fill: rgba(255, 255, 255, 1);
  transition-duration: 0.5s;
  transition-property: fill;
}
.m .sie-mobile-nav_7 svg {
  fill: rgba(220, 102, 38, 1);
  transition-duration: 0.5s;
  transition-property: fill;
}
.d .sie-mobile-nav_7 svg:hover {
  fill: rgba(255, 255, 255, 1);
}
.m .sie-mobile-nav_7 svg:hover {
  fill: rgba(255, 255, 255, 1);
}
.d .sie-mobile-nav_8 {
  left: 553px;
  top: 12px;
  width: 95px;
  height: 95px;
}
.m .sie-mobile-nav_8 {
  left: 128px;
  top: 6px;
  width: 65px;
  height: 65px;
}
.d .sie-mobile-nav_8 .se-img {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  border-radius: inherit;
}
.m .sie-mobile-nav_8 .se-img {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  border-radius: inherit;
}
.sib-menu {
  z-index: 1000;
}
.m .sib-menu {
  height: 200px;
  display: none;
}
.d .sib-menu {
  height: 600px;
  display: none;
}
.m .sib-menu .ss-bg {
  background-color: rgba(245, 247, 247, 1);
}
.d .sib-menu .ss-bg {
  background-color: rgba(0, 0, 0, 0);
}
.d .sib-menu.sb-nd-wH .sc {
  height: 600px;
}
.d .sie-menu_0 {
  left: 600px;
  top: 0px;
  width: 605px;
  height: 602px;
}
.m .sie-menu_0 {
  left: 48px;
  top: 30px;
  width: 224px;
  height: 140px;
}
.d .sie-menu_0 .se-simple:hover {
}
.m .sie-menu_0 .se-simple:hover {
}
.d .sie-menu_0 .se-simple {
  background-color: rgba(255, 255, 255, 1);
}
.m .sie-menu_0 .se-simple {
  background-color: rgba(0, 0, 0, 1);
}
.d .sie-menu_1:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-menu_1:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-menu_1 {
  left: 780px;
  top: 486px;
  width: 401px;
  height: 19px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-menu_1 {
  left: 109px;
  top: 92px;
  width: 102px;
  height: 17px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-menu_1-text:hover {
  color: rgba(220, 102, 38, 1);
}
.m .sie-menu_1-text:hover {
  color: rgba(220, 102, 38, 1);
}
.d .sie-menu_1-text {
  font-size: 18px;
  transition-duration: 0.5s;
  transition-property: color;
}
.m .sie-menu_1-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0em;
  font-size: 12px;
  text-align: left;
  transition-duration: 0.5s;
  transition-property: color;
}
.d .sie-menu_2:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-menu_2:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-menu_2 {
  left: 780px;
  top: 442px;
  width: 401px;
  height: 19px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-menu_2 {
  left: 109px;
  top: 92px;
  width: 102px;
  height: 17px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-menu_2-text:hover {
  color: rgba(220, 102, 38, 1);
}
.m .sie-menu_2-text:hover {
  color: rgba(220, 102, 38, 1);
}
.d .sie-menu_2-text {
  font-size: 18px;
  transition-duration: 0.5s;
  transition-property: color;
}
.m .sie-menu_2-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0em;
  font-size: 12px;
  text-align: left;
  transition-duration: 0.5s;
  transition-property: color;
}
.d .sie-menu_3:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-menu_3:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-menu_3 {
  left: 780px;
  top: 397px;
  width: 401px;
  height: 19px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-menu_3 {
  left: 109px;
  top: 92px;
  width: 102px;
  height: 17px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-menu_3-text:hover {
  color: rgba(220, 102, 38, 1);
}
.m .sie-menu_3-text:hover {
  color: rgba(220, 102, 38, 1);
}
.d .sie-menu_3-text {
  font-size: 18px;
  transition-duration: 0.5s;
  transition-property: color;
}
.m .sie-menu_3-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0em;
  font-size: 12px;
  text-align: left;
  transition-duration: 0.5s;
  transition-property: color;
}
.d .sie-menu_4:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-menu_4:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-menu_4 {
  left: 780px;
  top: 353px;
  width: 401px;
  height: 19px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-menu_4 {
  left: 109px;
  top: 92px;
  width: 102px;
  height: 17px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-menu_4-text:hover {
  color: rgba(220, 102, 38, 1);
}
.m .sie-menu_4-text:hover {
  color: rgba(220, 102, 38, 1);
}
.d .sie-menu_4-text {
  font-size: 18px;
  transition-duration: 0.5s;
  transition-property: color;
}
.m .sie-menu_4-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0em;
  font-size: 12px;
  text-align: left;
  transition-duration: 0.5s;
  transition-property: color;
}
.d .sie-menu_5:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-menu_5:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-menu_5 {
  left: 780px;
  top: 309px;
  width: 401px;
  height: 19px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-menu_5 {
  left: 109px;
  top: 92px;
  width: 102px;
  height: 17px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-menu_5-text:hover {
  color: rgba(220, 102, 38, 1);
}
.m .sie-menu_5-text:hover {
  color: rgba(220, 102, 38, 1);
}
.d .sie-menu_5-text {
  font-size: 18px;
  transition-duration: 0.5s;
  transition-property: color;
}
.m .sie-menu_5-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0em;
  font-size: 12px;
  text-align: left;
  transition-duration: 0.5s;
  transition-property: color;
}
.d .sie-menu_6:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-menu_6:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-menu_6 {
  left: 780px;
  top: 264px;
  width: 401px;
  height: 19px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-menu_6 {
  left: 109px;
  top: 92px;
  width: 102px;
  height: 17px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-menu_6-text:hover {
  color: rgba(220, 102, 38, 1);
}
.m .sie-menu_6-text:hover {
  color: rgba(220, 102, 38, 1);
}
.d .sie-menu_6-text {
  font-size: 18px;
  transition-duration: 0.5s;
  transition-property: color;
}
.m .sie-menu_6-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0em;
  font-size: 12px;
  text-align: left;
  transition-duration: 0.5s;
  transition-property: color;
}
.d .sie-menu_7:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-menu_7:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-menu_7 {
  left: 780px;
  top: 220px;
  width: 401px;
  height: 19px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-menu_7 {
  left: 109px;
  top: 92px;
  width: 102px;
  height: 17px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-menu_7-text:hover {
  color: rgba(220, 102, 38, 1);
}
.m .sie-menu_7-text:hover {
  color: rgba(220, 102, 38, 1);
}
.d .sie-menu_7-text {
  font-size: 18px;
  transition-duration: 0.5s;
  transition-property: color;
}
.m .sie-menu_7-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0em;
  font-size: 12px;
  text-align: left;
  transition-duration: 0.5s;
  transition-property: color;
}
.d .sie-menu_8:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-menu_8:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-menu_8 {
  left: 780px;
  top: 132px;
  width: 407px;
  height: 45px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-menu_8 {
  left: 104px;
  top: 169px;
  width: 46px;
  height: 17px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-menu_8-text:hover {
  color: rgba(220, 102, 38, 1);
}
.m .sie-menu_8-text:hover {
  color: rgba(220, 102, 38, 1);
}
.d .sie-menu_8-text {
  color: rgba(0, 0, 0, 1);
  font-size: 49px;
  transition-duration: 0.5s;
  transition-property: color;
}
.m .sie-menu_8-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0em;
  font-size: 12px;
  text-align: left;
  transition-duration: 0.5s;
  transition-property: color;
}
.d .sie-menu_9:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-menu_9:hover {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-menu_9 {
  left: 1140px;
  top: 8px;
  width: 47px;
  height: 47px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.m .sie-menu_9 {
  left: 135px;
  top: -20px;
  width: 50px;
  height: 50px;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.d .sie-menu_9 svg {
  fill: rgba(220, 102, 38, 1);
  transition-duration: 0.5s;
  transition-property: fill;
}
.m .sie-menu_9 svg {
  fill: rgba(255, 128, 66, 1);
  transition-duration: 0.5s;
  transition-property: fill;
}
.d .sie-menu_9 svg:hover {
  fill: rgba(0, 0, 0, 1);
}
.m .sie-menu_9 svg:hover {
  fill: rgba(0, 0, 0, 1);
}
.d .sie-menu_10 {
  left: 0px;
  top: 0px;
  width: 600px;
  height: 600px;
}
.m .sie-menu_10 {
  left: 48px;
  top: 11px;
  width: 224px;
  height: 179px;
}
.d .sie-menu_10 .se-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 80%;
  border-radius: inherit;
}
.m .sie-menu_10 .se-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: inherit;
}

body {
  margin: 10;
  padding: 0;
  color: #fff;
  font-size: 14px;
  line-spacing: 10px;
}

div {
  font-family: Poppins;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 2000px;
  overflow-x: visible;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
